// common css variables
$ChatColor-System: #CCCCCC;
$ChatColor-Say: #F7F7F7;
$ChatColor-Shout: #FF9F5C;
$ChatColor-Tell: #FFB8DE;
$ChatColor-Party: #66E5FF;
$ChatColor-CWLS: #D4FF7D;
$ChatColor-Yell: #FFFF00;
$ChatColor-Emote: #BAFFF0;

$NameColor-Gladiator: #7FDBFF;
$NameColor-Pugilist: #D5C400;
$NameColor-Maurauder: #FF4136;
$NameColor-Lancer: #33A0FF;
$NameColor-Archer: #01FF70;
$NameColor-Conjurer: #FFFFE8;
$NameColor-Thaumaturge: #E365F6;
$NameColor-Rogue: #A796AB;

$NameColor-Paladin: #7FDBFF;
$NameColor-Monk: #D5C400;
$NameColor-Warrior: #FF4136;
$NameColor-Dragoon: #33A0FF;
$NameColor-Bard: #01FF70;
$NameColor-Whitemage: #FFFFE8;
$NameColor-Blackmage: #E365F6;
$NameColor-Summoner: #2ECC40;
$NameColor-Scholar: #BBA9CD;
$NameColor-Ninja: #A796AB;
$NameColor-Machinist: #DBF7FF;
$NameColor-Darkknight: #F79414;
$NameColor-Astrologian: #EDD25F;
$NameColor-Samurai: #B8B3B1;
$NameColor-Redmage: #EB9EBA;
// $NameColor-Bluemage: #33A0FF;
$NameColor-Gunbreaker: #F0B885;
$NameColor-Dancer: #F8D3C9;
//$NameColor-Reaper: #E365F6;
//$NameColor-Sage: #E365F6;